/* You can add global styles to this file, and also import other style files */

// @import "~swiper/swiper-bundle";

:root {
  --main-color: #7a8943;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --color-navy: #364c19;
  --color-text: var(--color-navy-800);
  --main-header: #142134;
}

* {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--main-header);
}

/*** navbar ***/
.social-icons div img {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

img {
  cursor: pointer;
}

/*profile pic on hover*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 255);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  z-index: 1;
  right: 15%;
}

/* hide menu */
.menu {
  display: inline;
  clear: both;
  margin: 10px 0 0 0;
}
.menu li {
  font-size: 14px;
  margin: 10px 0 0;
}
.menu li a {
  color: #000;
  text-decoration: none;
}

.menu li a span {
  padding: 5px;
}

.menu li a span:hover {
  color: var(--main-color);
  text-decoration: none;
}

.dropdown-content a {
  text-transform: capitalize;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    float: right;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    float: right;
  }
}

.container .owl-next,
.container .owl-prev {
  background-color: #7a8943 !important;
  color: #fff !important;
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;
  position: absolute !important;
  top: 50%;
  transition: 0.3s all ease;
}

.container .owl-next {
  right: -58px;
  transform: translate(-50%, -50%);
}

.container .owl-prev {
  left: -8px;
  transform: translate(-50%, -50%);
}

.container .owl-next i,
.container .owl-prev i {
  font-size: 1.6rem !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .container .owl-next,
  .container .owl-prev {
    display: none !important;
  }
}
