<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <p style="font-size: 15px;">
          EworkSa Tutoring is an online platform that helps students to access recorded class lessons from anywhere at
          their own time.EworkSa Tutoring also evaluate the performance of students trough a set of quizzes after each
          lessons.
        </p>
      </div>
      <div class="footer-col">
        <h4>Our Services</h4>
        <ul>
          <li><a>Online Tutoring</a></li>
          <li><a>Group Packages</a></li>
          <li><a>Academic Proofreading</a></li>
          <li><a>Homeschooling Support</a></li>
          <li><a>Matric Rewrite Program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>information</h4>
        <ul>
          <li><a [routerLink]="['/mission']">Our Mission</a></li>
          <li><a [routerLink]="['/apart']">What Sets Us Apart</a></li>
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/contact']">Contact Us</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/tpllotus"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/triple_lotus/"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/Lotus_tutors"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCehoH-vzyGidpSXU7QDjA3g?view_as=subscriber"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="float-sm">
      <h5>
        <a href="https://katangatech.co.za/">Powered by Katangatech.</a>
      </h5>
    </div>
  </div>
</footer>
