.footer {
  background-color: #7a8943;
  padding: 70px 0;
  color: #ffffff;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--main-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  margin-left: -30px !important;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

p {
  color: #fff;
}

.footer_copyright {
  overflow: hidden;
  background: #ffffff;
  padding: 35px 0px;
  border-top: 1px solid #ffffff;
}

.float-sm {
  h5 {
    margin-top: 12px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
  }

  h5:hover,
  a:hover {
    color: #fff;
  }

  a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
  }
}
