<div class="mycontainer">
  <div class="wrapper">
    <!-------header start here-->
    <div class="header">
      <div class="header-inner">
        <div class="mainlogo">
          <button class="home" [routerLink]="['']">Home</button>
        </div>
      </div>
    </div>
    <!---------header end here-->

    <!-------login box-->
    <div class="login-box-outer" style="margin-top: 65px;">
      <div class="login-box-inner">
        <div class="logo">
          <!-- <img src="assets/Logos/Logo.png" alt="LOGO"> -->
          <h2 class="logoText">Sign In</h2>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="input-wrap">
            <input type="text" name="email" placeholder="Email" [(ngModel)]="form.email" required>
          </div>
          <div class="input-wrap">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
          </div>
          <div class="input-wrap">
            <button [disabled]="!loginForm.valid">Sign in</button>
          </div>
          <div class="remember-help">
            <!-- <div class="remember">
              <span><input type="checkbox" name=""></span>
              <span style="padding-left: 5px;">Remember me</span>
            </div>
            <div class="need-help">Forgot Password?</div> -->
          </div>
          <div class="signup">
            <div class="signinorsignup">
              <a [routerLink]="['/signup']">
                Dont' have an account? <span>Sign Up</span>
              </a>
            </div>

          </div>
        </form>
      </div>

    </div>
    <!---------login box end here-->
  </div>

</div>

<!-- start whatsapp components -->
<app-whatsapp></app-whatsapp>
<!-- end of whatsapp components -->
