h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #0f518e !important;
}

.bg-light {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  position: relative;
}

.header {
  position: relative;
  z-index: 9;
}

.navbar-brand {
  color: #0f518e;
  font-size: 30px;
  font-weight: 400;
}

.nav-link {
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.6s, border 0.6s;
  transition: color 0.6s, border 0.6s;
  font-family: Poppins, sans-serif;
  color: #1c1d1f !important;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-link a {
  color: green !important;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 80%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 2.5rem;
  height: 2.8rem;
  margin: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.ti-book,
.ti-user,
.ti-shopping-cart,
.ti-power-off,
.ti-calendar,
.ti-settings,
.ti-credit-card {
  margin-right: 5px;
  color: var(--main-color);
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .w--current img {
    width: 80px;
    height: 100%;
  }

  .nav-link {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .w--current img {
    width: 85px;
    height: 100%;
  }

  .nav-link {
    float: right;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .w--current {
    margin-left: 20px;
  }

  .w--current img {
    width: 85px;
    height: 100%;
  }
}
