<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['']" aria-current="page" class="w-nav-brand w--current" aria-label="home">
    <img src="assets/Logos/logo.png" height="100" alt="" class="image">
  </a>

  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
      <!-- <a aria-current="page" class="nav-link w-nav-link w--current" [routerLink]="['']">Home</a> -->
      <a aria-current="page" class="nav-link w-nav-link" [routerLink]="['']">Home</a>
      <a class="nav-link w-nav-link" [routerLink]="['/login']">Login</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About Us</a>
        <div class="dropdown-menu">
          <a [routerLink]="['/mission']" class="nav-link w-nav-link">OUR MISSION</a>
          <!-- <a [routerLink]="['/operate']" class="nav-link w-nav-link">HOW WE OPERATE</a> -->
          <a [routerLink]="['/apart']" class="nav-link w-nav-link">WHAT SET US APART</a>
          <!-- <a [routerLink]="['/testimonial']" class="nav-link w-nav-link">TESTIMONIALS</a> -->
        </div>
      </div>
      <a class="nav-link w-nav-link" [routerLink]="['/contact']">Contact Us</a>
    </div>
  </div>
</nav>
