.bg-light {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  position: relative;
}

.custom-toggler .navbar-toggler-icon {
  color: #364c19 !important;
  color: #364c19 !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(54, 76, 25)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  color: #364c19 !important;
  font-size: 20px;
  font-weight: 600 !important;
  line-height: 20px;
  border: none !important;
}

.header {
  position: relative;
  z-index: 9;
}

.nav-link {
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.6s, border 0.6s;
  transition: color 0.6s, border 0.6s;
  font-family: Poppins, sans-serif;
  color: #7a8943 !important;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.w-nav-link.w--current {
  color: #0082f3;
}

.nav-link.w--current {
  border-bottom-color: #364c19 !important;
  color: #364c19 !important;
}

.nav-link:hover {
  border-bottom-color: #364c19 !important;
  color: #364c19 !important;
  text-decoration: none !important;
}

.dropdown-menu {
  min-width: 13rem;
  padding: 10px;
}

.dropdown-menu {
  .nav-link:hover {
    background-color: #d7d99a;
    color: #364c19 !important;
    text-decoration: none !important;
    border-bottom-color: transparent !important;
  }
}

.nav-link a {
  color: green !important;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 80%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 2.5rem;
  height: 2.8rem;
  margin: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .w--current img {
    width: 80px;
    height: 100%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .w--current img {
    width: 85px;
    height: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .ml-auto {
    margin-right: 100px;
  }

  .w--current {
    margin-left: 130px;
  }

  .w--current img {
    width: 85px;
    height: 100%;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
