<!-- BEGIN NAVBAR -->
<app-navigation></app-navigation>
<!-- END NAVBAR -->

<!-- CAROUSEL START -->

<carousel>
  <slide>
    <img src="assets/img3.jpeg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>1 on 1 online tutoring sessions.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img2.jpeg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>Access Semester recorded class content from anywhere.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img1.jpeg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <p>Evaluate students performance after each lessons trough a set of quizzes.</p>
    </div>
  </slide>
</carousel>

<!--CAROUSEL END -->

<!----START TESTIMONIALS-->

<div class="testimonials">
  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">Michael Grant -Grade 9 Math students</div>
          <div class="stars">

          </div>
          <p>
            Eworksa Tutoring is a great platform, I was able to access recorded videos of topics that I did not
            understand in class at my own free time. The platform allowed me to review the lessons and understand my
            class lessons.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">Alicia Bismilla -Grade 12 Accounting Students </div>
          <div class="stars">

          </div>
          <p>
            Eworksa Tutoring helped with my exam preparation, the set of quizzes after each lessons helped me understand
            better my accounting lessons. They Offer great content and quizzes before moving to next lessons.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="assets/img.jpeg" alt="No image">
          <div class="name">Assan Pillai – Grade 11 Math students</div>
          <div class="stars">

          </div>
          <p>
            Tutors are available anytime via booking through the platform. I was helped by a tutor on a topic I couldn’t
            understand the day before my exam and the set of quizzes after each lessons test the student knowledge.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<!----END TESTIMONIALS-->

<!-- start whatsapp components -->
<app-whatsapp></app-whatsapp>
<!-- end of whatsapp components -->

<!------START FOOTER-->

<app-footer></app-footer>

<!------END FOOTER-->
