<div class="mycontainer">
  <div class="wrapper">
    <!-------header start here-->
    <div class="header">
      <div class="header-inner">
        <div class="mainlogo">
          <button class="home" [routerLink]="['']">Home</button>
        </div>
      </div>
    </div>
    <!---------header end here-->

    <!-------login box-->
    <div class="login-box-outer">
      <div class="login-box-inner">
        <div class="logo">
          <!-- <img src="assets/Logos/Logo.png" alt="LOGO"> -->
          <h2 class="logoText">Sign Up</h2>
        </div>
        <form #SignUpForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="input-wrap">
            <input type="text" name="name" placeholder="Name" [(ngModel)]="form.name" required>
          </div>
          <div class="input-wrap">
            <input type="text" name="email" placeholder="Email" [(ngModel)]="form.email" required>
          </div>
          <div class="input-wrap">
            <input type="text" name="cellnumber" placeholder="Cell Number" [(ngModel)]="form.cellnumber" required>
          </div>
          <div class="input-wrap">
            <div class="form-group">
              <input list="grade" name="grade" placeholder="Select Grade" class="form-control" [(ngModel)]="form.grade"
                required>
              <datalist id="grade">
                <option>Grade 8</option>
                <option>Grade 9</option>
                <option>Grade 10</option>
                <option>Grade 11</option>
                <option>Grade 12</option>
              </datalist>
            </div>
            <!-- <input type="text" name="grade" placeholder="Grade 10" [(ngModel)]="form.grade" required> -->
          </div>
          <div class="input-wrap">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="form.password" required>
          </div>
          <div class="input-wrap">
            <button [disabled]="!SignUpForm.valid">Sign Up</button>
          </div>
          <div class="signup">
            <div class="signinorsignup">
              <a [routerLink]="['/login']">
                Already have an account? <span>Log In</span>
              </a>
            </div>

          </div>
        </form>
      </div>

    </div>
    <!---------login box end here-->
  </div>

</div>
