.body {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  /***slider imgs */

  .container {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  /**** codeacademy style */

  .course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }

  p {
    color: --var(--main-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
  }

  .row {
    margin: 2% 1%;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    float: right;
    padding: 10px;
    color: var(--main-color);
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
    float: right;
    padding: 10px;
    color: var(--color-text);
    font-weight: 500;
  }

  .course-col {
    flex-basis: 95%;
    background: #fffcf0;
    border-radius: 1px;
    color: var(--color-text);
    border: 1px solid var(--color-navy);
    border-color: var(--color-navy);
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5;
  }

  h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.1;
    font-size: 1.25rem;
    padding: 10px;
  }

  span {
    color: var(--main-color);
  }

  .course-col:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 100%), 0 2px 4px rgb(0 0 0 / 100%);
  }

  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
    a {
      text-decoration: none;
      float: right;
      padding: 5px;
      color: var(--main-color);
      font-weight: 300;
    }

    a:hover {
      text-decoration: none;
      float: right;
      padding: 5px;
      color: var(--color-text);
      font-weight: 300;
    }
  }
}

.approve {
  color: green !important;
  padding: 0px 10px 10px 10px;
}

.pending {
  color: red !important;
  padding: 0px 10px 10px 10px;
}

.row {
  display: flex;
}

.status {
  margin-top: 5px;
}

.name h4 {
  margin-top: 10px;
}

#table {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.myrow {
  position: relative;
  display: flex;
  // border-bottom: 1px solid #afafaf;
}

.name {
  padding-left: 31px;
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.value {
  position: relative;
  display: inline-block;
  width: 55%;
  line-height: 45px;
}

.upNextContainer button {
  padding: 0;
}

.upNextContainer h2,
.upNextContainer h3 {
  color: #fff;
}

.watchNav {
  z-index: 2;
}

// button {
//   width: 100%;
//   border-radius: 0 !important;
// }

.mybuttons {
  width: 50%;
  border-radius: 0 !important;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  cursor: pointer;
}

.divider {
  width: 80px;
  height: auto;
  display: inline-block;
}

.course2-col {
  flex-basis: 95%;
  background: #fff;
  border-radius: 1px;
  color: var(--color-text);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-bottom: 5%;
  padding: 10px 12px;
  box-sizing: border-box;
  transition: 0.5;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--main-color);
}

.back:hover {
  color: var(--main-color);
  cursor: pointer;
}

.labels {
  font-size: 13px;
}

.bookbtn {
  margin-top: 20px;
  float: left;
  color: #fff !important;
  background-color: #7a8943;
  border-color: #7a8943;
  width: 150px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
